body {
    background-color: black;
    margin: auto;
    margin-top: 50px;
}
.container{
       background-color: white;
        width: 600px;
        margin: 50px;
}
.post{
    width: 400px;
    height: 720px;
    background-color: white;
    margin: 0 auto;
    
}
.fchild, .schild{
    display: inline-block;
}
.fa-ellipsis-v{
    float:right;
    margin-right: 8px;
    margin-top: 15px;
}
img{
    width:400px;
    height:400px;
}
.fa-bookmark-o{
    float: right;
}
p{
    padding: 4px;
}